*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    list-style-type: none;
}

body{
    background-color: hsl(217, 54%, 11%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px 30px;
}

.motherContainer{
    max-width: 375px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}

.nft_img{
    text-align: center;
    padding: 20px;
}

.nft_img img{
    width: 100%;
    border-radius: 10px;
    /* margin-top: 1rem; */
}

.subContainer{
    width: 85%;
    margin: 0 auto;
}

.equilibrium{
    color: white;
    padding-top: 5px;
}