*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    list-style-type: none;
}

body{
    background-color: hsl(217, 54%, 11%);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px 30px;
}

.motherContainer{
    max-width: 375px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}

.nft_img{
    text-align: center;
    padding: 20px;
}

.nft_img img{
    width: 100%;
    border-radius: 10px;
    /* margin-top: 1rem; */
}

.subContainer{
    width: 85%;
    margin: 0 auto;
}

.equilibriumHeader{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
}

.equilibriumText{
    padding-top: 1.2rem;
    color: hsl(215, 51%, 70%);
    line-height: 1.6;
}

.subContainer ul{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;   
}

.ETH_value{
    color: hsl(178, 100%, 50%);
    font-size: 1.1rem;
}

.time_left{
    color: hsl(215, 51%, 70%);
}

hr{
    color: hsl(215, 32%, 27%);
    width: 85%;
    margin: 0 auto;
    margin-top: 0.7rem;
    border-top: none;
    border-left: none;
    border-right: none;
}

